version: '4.0'

services:
  postgres:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    volumes:
      - ${HOME}/energybox/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=energybox_pass
      - POSTGRES_USER=energybox_user
      - POSTGRES_DB=energybox_db